.title {
    height: 70px;
    width: 90%;
    background-color: white;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:xx-large;
    font-weight: bolder;
    color: rgba(0, 3, 5, 0.986);
    margin-top: 40px;
}

.topcontainer{
    background-color: rgb(143, 136, 136);
    width: 90%;
    height: 250px;
    display: flex;
    flex: 10;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-around;
}
.middlecontainer{
    background-color: rgb(209, 92, 98);
    width: 90%;
    height: 250px;
    display: flex;
    justify-content: space-evenly;
    flex: 10;
    margin-left: 20px;
    margin-right: 20px;
}
.bottomcontainer{
    background-color: rgb(248, 249, 250);
    width: 90%;
    height: 250px;
    display: flex;
    flex: 10;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-around;
}

img {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50%;
}